.product-carousel {
    padding: 40px 20px;
    text-align: center;
    background: #1B1B1D; /* Fondo negro */
    backdrop-filter: blur(8px); /* Efecto de blur para el fondo */
    position: relative;
    z-index: 0;
  }
  
  .product-carousel h2 {
    font-size: 2rem;
    color:  #FFFFFF; /* Azul Francia para los títulos */
    margin-bottom: 30px;
  }
  
  .product-item {
    background-color: #2C2C2E;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px #1F51FF; /* Sombra con efecto neón */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin:30px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido horizontalmente */
    justify-content: space-between; /* Separar el contenido interno */
    height: auto; /* Ajuste dinámico de altura */
    border: 2px solid transparent;
    padding: 15px; /* Espaciado interno */
    max-width: 350px; /* Limitar el ancho máximo para mantener el diseño */
  }
  
  
  .product-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 191, 255, 1); /* Efecto neón más brillante en hover */
    border: 2px solid #00bfff; /* Borde neón en hover */
  }
  
  .product-item img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: auto; /* Mantén la proporción original de la imagen */
    border-radius: 8px; /* Opcional: bordes redondeados */
    margin: 10px auto; /* Margen superior e inferior, centrado horizontal */
    display: block; /* Centra la imagen dentro del contenedor */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para dar un efecto elegante */
    object-fit: cover; /* Asegúrate de que la imagen se recorte adecuadamente si es necesario */
  }  
  
  .product-carousel h3{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    width: 90%;
    border-bottom: 5px solid #00B5D8;
    margin: 1rem;
    color: #FFFFFF;
  }

  .product-item h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #FFFFFF; /* Azul Francia para el título */
    border-bottom: none;
  }
  
  .product-item p {
    font-size: 0.9rem;
    color: #B0B0B0; /* Color claro para la descripción */
    margin: 10px 0;
  }
  
  .product-item .btn-more {
    background-color: rgba(0, 191, 255, 0.2); /* Fondo translúcido para el botón */
    color: #1F51FF; /* Azul Francia para el texto del botón */
    padding: 10px 20px;
    border: 2px solid #1F51FF;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .product-item .btn-more:hover {
    background-color: #1F51FF; /* Fondo neón al pasar el mouse */
    color: #000; /* Color del texto del botón al hacer hover */
    box-shadow: 0 0 10px rgba(0, 191, 255, 1); /* Efecto de neón alrededor del botón */
  }
  
  .product-item .btn-more:focus {
    outline: none;
  }
  
  /* Estilos para hacer que sea responsivo */
  @media (max-width: 1024px) {
    .product-item {
        margin: 15px; /* Menor margen en pantallas medianas */
        max-width: 250px; /* Reduce el ancho máximo */
      }
    
      .product-item img {
        max-height: 200px; /* Limita la altura de las imágenes en pantallas medianas */
      }

  }
  
  @media (max-width: 768px) {
    .product-item {
        margin: 10px;
        max-width: 200px; /* Ajusta el ancho en pantallas pequeñas */
      }
    
      .product-item img {
        max-height: 150px; /* Reduce aún más la altura */
      }
    .product-item .btn-more {
      position: static; /* El botón ya no está centrado en la parte inferior */
      margin-top: 15px; /* Aseguramos que tenga separación entre el contenido */
      margin-bottom: 10px; /* Agregamos margen abajo para evitar que quede pegado al final */
      padding: 8px 16px; /* Hacemos el botón un poco más pequeño */
    }
  }
  .carousel-title {
    font-size: 2.5rem;
    margin: 30px;

  }
  
  .slick-prev, .slick-next {
    z-index: 10;
    width: 40px;
    height: 40px;
    background-color: #1F51FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .slick-prev:hover, .slick-next:hover {
    background-color: #00B5D8;
  }
  
  .slick-prev:before, .slick-next:before {
    font-size: 20px;
    color: #fff;
  }
  